<% if @user.errors.any? %>
  <div>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>

  <div class='uk-grid-small' uk-grid>

    <div class="uk-width-1-3@s">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'uk-input' %><br>
    <br>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'uk-input' %><br>
    <br>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'uk-input' %><br>
    <br>

    <%= f.submit class: 'uk-button uk-button-secondary' %>
    </div><br>

  </div>

<% end %>