<p><%= flash[:message] if flash[:message] %></p>
<p> <% if @errors %>
<%= @erros %>
<% end %></p>

<h1> Welcome, <%= @user.username %>!</h1><br>

<h2> Your Events</h2><br><br>

    <% if @user.events.empty? %>

        <p>You have not created any events! <%= link_to "Click here to create your first event!", new_event_path %> </p>

    <% else %>

        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>

        <% @user.events.each do |e| %>
                
            <div>
                <a href="/events/<%= e.id %>" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                    <div class="uk-card-badge uk-label uk-label-warning"><%= e.category.name %></div>
                    <div class="uk-margin-top">
                        <h3 class="uk-card-title"><span class="uk-link-heading"><%= e.name %></span></h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%= e.start_date.strftime("%b %d, %Y") %> at <%= e.start_time.strftime(" %l:%M %p") %></time></p>
                        <p><%= e.location %></p>
                    </div>
                </a>
            </div>
            
        <% end %>

        </div>

    <% end %>

<h2> Your RSVP's </h2>

    <% if @user.rsvps.empty? %>

        <p>You have not RSVP'd to any events! <%= link_to "View all Upcoming Events here", events_path %> or <%= link_to "search events by Category", categories_path %>. </p>

    <% else %>

    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>

        <% @user.rsvps.each do |e| %>
            
            <div>
                <a href="/events/<%= e.id %>" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                    <div class="uk-card-badge uk-label uk-label-warning"><%= e.category.name %></div>
                    <div class="uk-margin-top">
                        <h3 class="uk-card-title"><span class="uk-link-heading"><%= e.name %></span></h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%= e.start_date.strftime("%b %d, %Y") %> at <%= e.start_time.strftime(" %l:%M %p") %></time></p>
                        <p><%= e.location %></p>
                    </div>
                </a>
            </div>
        
        <% end %>

    </div>

    <% end %>