<%= render partial: "layouts/errors", locals: {object: @event} %>

<%= form_for ([@category, @event]) do |f| %>

  <div class='uk-grid-small' uk-grid>
  
    <div class="uk-width-1-1">
    <%= f.label :name, "Event Name" %><br><br>
    <%= f.text_field :name, class: 'uk-input'%> <br><br>
    </div>

    <div class="uk-width-1-1">
    <%= f.label :description %><br><br>
    <%= f.text_area :description, rows: 5, class: 'uk-textarea' %> <br><br>
    </div>

    <div class="uk-width-1-1">
    <%= f.label :location %><br><br>
    <%= f.text_field :location, class: 'uk-input' %> <br><br>
    </div>

    <div class="uk-width-1-2@s">
    <%= f.label :start_date %> <br><br>
    <%= f.date_field :start_date, class: 'uk-input' %> <br><br>
    </div>

    <div class="uk-width-1-2@s">
    <%= f.label :end_date %> <br><br>
    <%= f.date_field :end_date, class: 'uk-input' %> <br><br>
    </div>

    <div class="uk-width-1-2@s">
    <%= f.label :start_time %><br><br>
    <%= f.time_field :start_time, class: 'uk-input' %> <br><br>
    </div>

    <div class="uk-width-1-2@s">
    <%= f.label :end_time %><br><br>
    <%= f.time_field :end_time, class: 'uk-input' %> <br><br>
    </div>

      <% unless @category %>

        <div class="uk-width-1-2@s">

        <%= f.label :category, "Choose a Category" %><br><br>
        <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, { class: 'uk-select' } %><br><br>

        </div>

        <div class="uk-width-1-2@s">
        
          <%= f.fields_for :category do |c| %>

            <%= c.label :name, "Or Create Your Own" %><br><br>
            <%= c.text_field :name, class: 'uk-input' %>

          <% end %>

        </div>

      <% end %>
      <br><br>

      <div class="uk-width-1-1">
        <%= f.submit class: 'uk-button uk-button-secondary' %>
      </div>
    
    </div>

<% end %>