<h1 class="uk-text-center"> My RSVPs </h1>
<p class="uk-text-center uk-padding-remove"><a href="#attending">Attending</a> | <a href="#interested">Interested</a> | <a href="#declined">Declined</a></p>
<br><p> Click on the event to edit your RSVP. </p>
<h2 id="attending">Attending</h2>

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>

    <% if @rsvps.empty? %>

        <p>You have not RSVP'd to any events. <%= link_to "Click here to browse upcoming events!", events_path %> </p>

    <% else %>
    
        <% @rsvps.is_attending.each do |r| %>

            <div>
                <a href="/rsvps/<%= r.id %>/edit" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                    <div class="uk-card-badge uk-label uk-label-warning"><%= r.event.category.name %></div>
                    <div class="uk-margin-top">
                        <h3 class="uk-card-title"><span class="uk-link-heading"><%= r.event.name %></span></h3>
                        <p class="uk-text-meta uk-margin-remove-top"><%= r.event.start_date.strftime("%b %d, %Y") %> at <%= r.event.start_time.strftime(" %l:%M %p") %></time></p>
                        <p><%= r.event.location %></p>
                    </div>
                </a>
            </div>

        <% end %>

    <% end %>
    
</div>

<h2 id="interested">Interested</h2><br>

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>

    <% if @rsvps.empty? %>

        <p>You are not interested in any events. <%= link_to "Click here to browse upcoming events!", events_path %> </p>

    <% else %>

        <% @rsvps.is_interested.each do |r| %>

            <div>    
                <a href="/rsvps/<%= r.id %>/edit" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                    <div class="uk-card-badge uk-label uk-label-warning"><%= r.event.category.name %></div>
                    <div class="uk-margin-top uk">
                        <h3 class="uk-card-title"><span class="uk-link-heading"><%= r.event.name %></span></h3>
                        <p class="uk-text-meta uk-margin-remove-top"><%= r.event.start_date.strftime("%b %d, %Y") %> at <%= r.event.start_time.strftime(" %l:%M %p") %></time></p>
                        <p><%= r.event.location %></p>
                        
                    </div>
                </a>
            </div>

        <% end %>
    
    <% end %>

</div>


<h2 id="declined">Declined</h2><br>

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>

    <% if @rsvps.empty? %>

        <p>You have not declined any events. <%= link_to "Click here to browse upcoming events!", events_path %> </p>

    <% else %>
    
        <% @rsvps.is_declined.each do |r| %>

            <div>
                <a href="/rsvps/<%= r.id %>/edit" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                    <div class="uk-card-badge uk-label uk-label-warning"><%= r.event.category.name %></div>
                    <div class="uk-margin-top">
                        <h3 class="uk-card-title"><span class="uk-link-heading"><%= r.event.name %></span></h3>
                        <p class="uk-text-meta uk-margin-remove-top"><%= r.event.start_date.strftime("%b %d, %Y") %> at <%= r.event.start_time.strftime(" %l:%M %p") %></time></p>
                        <p><%= r.event.location %></p>
                    </div>
                </a>
            </div>

        <% end %>
    
    <% end %>

</div>