<!DOCTYPE html>
<html>
  <head>
    <title>PenciledIn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'uikit', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'uikit', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
      <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">

        <div class="uk-navbar-left">

          <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo uk-text-warning uk-text-lowercase" uk-icon="pencil" href="/">Penciled-In</a>
            <li>
              <%= link_to "Events", events_path %>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><%= link_to "Happening Today", "/happening_today" %></li>
                  <li><%= link_to "Most Popular", "/most_popular" %></li>
                  <li><%= link_to "Past Events", "/past_events" %></li>
                </ul>
              </div>
            </li>

            <li><%= link_to "Categories", categories_path %></li>
              
          </ul>

        </div>

        <div class="uk-navbar-right">

          <ul class="uk-navbar-nav">
            <% if current_user %>
              <li class="uk-active"><%= link_to "Create Event", new_event_path %></li>
              <li class="uk-active"><%= link_to "My RSVPs", rsvps_path %></li>
              <li>
                <%= link_to "Account", user_path(current_user) %>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><%= link_to "Manage My Events", "/users/:id/event" %></li>
                    <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Log Out", logout_path %></li>
                  </ul>
                </div>
              </li>
    
            <% else %>

              <li class="uk-active"><%= link_to "Home", root_path %></li>
              <li class="uk-active"><%= link_to "Signup", signup_path %></li>
              <li class="uk-active"><%= link_to "Login", login_path %></li>

            <% end %>
 
          </ul>
          
        </div>

      </nav>
    </div>

    <div class="uk-container uk-padding-large">

      <%= yield %>

    </div>

  </body>
</html>