<!DOCTYPE html>
<html>
  <head>
    <title>PenciledIn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if !current_user %>
      <h1>Penciled In</h1>
      <%= link_to "Log In", "/login" %> ||
      <%= link_to "Log in with Google", '/auth/google_oauth2', method: "post" %> ||
      <%= link_to "Register", "/users/new" %></br>
    <% else %>
      <h1>Welcome to Penciled In!</h1>
      <%= link_to "Log out", "/logout" %></br>
    <% end %> 

    <%= yield %>
  </body>
</html>
